body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

input {
  margin: 10px;
  padding: 5px;
}

select {
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  cursor: pointer;
  background-color: #eee;
}

th, td {
  padding: 10px;
  text-align: left;
}
